<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<h1>New Post</h1>
<hr>
<section id="new_post">
  <%# '.form-horizontal', '.form-inline', '.form-search' or
    '.form-vertical' %>
  <%= simple_form_for(Post.new, html: {class: 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :body %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Executter" %>
    </div>
  <% end %>

</section>

<h1>Posts</h1>
<hr>
<section id="posts">
  <% @posts.each do |post| %>
    <p><%= post.body %></p>
    <hr>
  <% end %>
</section>