<div style="float:left;display:inline-block;width:800px">
  
<section class="section">
<p>
  <strong>Owner:</strong>
  <%= @site.owner.full_name %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @site.at_permalink %>
</p>
</section>

<section id="relations" class="section">
  <p><%= @site.followings.count %> followings</p>
  <p><%= @site.followers.count %> followers</p>
  <hr />
  
</section>

<section id="posts" class="section">
<h1>posts by <%= @site.at_permalink %> (<%= @site.owner.full_name %>)</h1>
  <% @posts.each do |post| %>
    <p><%= link_to post.body, post %></p>
  <% end %>
</section>

</div>

<div id="followers____" class="sidebar-right-1">
  <% if not me %>
    <%= link_to icon_text("plus-sign", "Join Followers"), root_path, class: "my-big-button img-polaroid" %>
  <% elsif not @relations %>
    
  <% elsif @relations.am_follower %>
    <%= link_to icon_text("remove-sign", "Unfollow"), site_unfollow_path(@site), class: "my-small-button img-polaroid" %>
  <% else %>
    <%= link_to icon_text("plus-sign", "Join Followers"), site_follow_path(@site), class: "my-big-button img-polaroid" %>
  <% end %>

  <%= link_to icon_text("reorder", "#{@followers_count} Followers"), '#', class: "my-big-button img-polaroid", onclick: "alert('not implemented, wait for it')" %>


  <% @followers.each do |site| %>
    <%= link_to site_path(site), class: "img-polaroid follower" do %>
      <img src="/images/old_default_user_photo/original.png" width=190>
      <span><%= site.at_permalink %></span>
    <% end %>
  <% end %>




</div>
