<div style="float:left;display:inline-block;width:600px">
  
<section class="section">


<p>
  <center><%= image_tag @site.owner.gravatar_or_default(200), width: 200 %></center>
  <strong>Owner:</strong>
  <%= @site.owner.full_name %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @site.at_permalink %>
</p>
</section>

<section id="posts" class="section">
<h1>posts by <%= @site.at_permalink %> (<%= @site.owner.full_name %>)</h1>
  <% @posts.each do |post| %>
    <p><%= link_to post.body, post %></p>
  <% end %>
</section>

</div>




<div id="followings____" class="sidebar-right-2">
  <%= link_to icon_text("reorder", "Following #{@followings_count}"), '#', class: "my-big-button img-polaroid", onclick: "alert('not implemented, wait for it')" %>


  <% @followings.each do |site| %>
    <%= link_to site_path(site), class: "img-polaroid follower" do %>
      <%= image_tag site.owner.gravatar_or_default(190), width: 190 %>
      <span><%= site.at_permalink %></span>
    <% end %>
  <% end %>

</div>



<div id="followers____" class="sidebar-right-1">
  <%= link_to icon_text("reorder", pluralize(@followers_count, 'Follows', 'Follow')), '#', class: "my-big-button img-polaroid", onclick: "alert('not implemented, wait for it')", id: "followers_button" %>


  <% if not me %>
    <%= link_to icon_text("plus-sign", "Follow"), root_path, class: "my-big-button img-polaroid", id: "follow_button" %>
  <% elsif @relations and not @relations.am_follower %>
    <%= link_to icon_text("plus-sign", "Follow"), site_follow_path(@site), class: "my-big-button img-polaroid", id: "follow_button" %>
  <% end %>
    


  <% @followers.each do |site| %>
    <%= link_to site_path(site), class: "img-polaroid follower follower_#{site.downcased}" do %>
      <%= image_tag site.owner.gravatar_or_default(60), width: 60 %>
    <% end %>
  <% end %>

  <% if @relations && @relations.am_follower %>
    <%= link_to icon_text("remove-sign", "unfollow"), site_unfollow_path(@site), class: "my-small-button img-polaroid", id: "unfollow_button" %>
  <% end %>

</div>
