<p>
  <strong>Owner:</strong>
  <%= @site.owner.full_name %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @site.at_permalink %>
</p>

<h1>posts by <%= @site.at_permalink %> (<%= @site.owner.full_name %>)</h1>
<section id="posts">
  <% @posts.each do |post| %>
    <p><%= post.body %></p>
  <% end %>
</section>