<!DOCTYPE html>
<html>
<head>
  <title>Ex3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%#= render '/sign_in/sign_in_header' if me.nil? && controller_name != 'sign_in' %>

<p id="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
