<!DOCTYPE html>
<html>
<head>
  <title>Ex3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background: <%= @background_color || 'white' %>">


<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
<!-- 
      <a class="brand" href="<%= me ? home_path : sign_up_path %>">Executter</a>
       -->
      <%= render_top_tabs_left %>
      <%= render_top_tabs_right %>

      
      <% if false %>
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar">a</span>
          <span class="icon-bar">b</span>
          <span class="icon-bar">c</span>
        </button>
        <div class="nav-collapse collapse">
        </div><!--/.nav-collapse -->
      <% end %>
    </div>
  </div>
</div>


<div class="container" style="position: relative;background:#fff;">
<div style="margin:25px;">

  <%= render_sign_in_header %>

  <%= render_flash %>


  <%= yield %>

</div>
</div>




<script type="text/javascript">


$(document).ready(ready);
$(document).on('page:load', ready);

function ready() {
  

  // var $scope_posts = angular.element('#posts').scope();
  // //$scope_posts.list.splice(0, $scope_posts.list.length);

  // $scope_posts.list = current_posts;

  //   // {link: "thiago", text: "aaaa"}
  //   // {link: "thiago", text: "bbbbbbbbbbbbb"}
  //   // {link: "dep", text: "xxxxxxxx"}
  
  // $scope_posts.$apply()

  $('.post .reply-trigger').on('focus', function() {
    $(this).fadeOut().closest('.post').find('.reply-box').fadeIn().find('textarea').focus();
  })


}

// comments: []
// comments_count: 0
// site: {id:3, link:thiago}
// site_id: 3
// text: "bbbbbbbbbbbbbbbbbbbb"
// verb: "posted"


// {
//   site_id: 2
//   verb: posted
//   text: aaaaaaaaa
//   comments_count: 2
//   site: {
//     id: 2
//     link: aaaa
//   }
//   comments: [
//     {
//       id: 13402
//       text: bbbbbbbbbbbb
//       site_id: 1680
//       site: {
//         id: 1680
//         link: aaaa
//       }
//     }
//     {
//       id: 13371
//       text: ccccccccccccc
//       site_id: 3909
//       site: {
//         id: 3909
//         link: aaaa
//       }
//     }
//   ]
// }

</script>

</body>
</html>
