<!DOCTYPE html>
<html ng-app>
<head>
  <title>Ex3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="<%= me ? home_path : sign_up_path %>">Executter</a>
      <%= render_top_tabs %>

      
      <% if false %>
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar">a</span>
          <span class="icon-bar">b</span>
          <span class="icon-bar">c</span>
        </button>
        <div class="nav-collapse collapse">
        </div><!--/.nav-collapse -->
      <% end %>
    </div>
  </div>
</div>


<div class="container" style="position: relative">

  <%= render_sign_in_header %>

  <%= render_flash %>


  <%= yield %>

</div>



<footer>

  <div class="container">

    <%= form_for(Post.new, remote: true, format: 'json') do |f| %>

      <%= f.text_field :text, autocomplete: 'off' %>
      <%= f.submit "Executter", class: 'btn btn-executter' %>

    <% end %>

  </div>

</footer>

<script type="text/javascript">


$(document).ready(ready);
$(document).on('page:load', ready);

function ready() {
  

  // var $scope_posts = angular.element('#posts').scope();
  // //$scope_posts.list.splice(0, $scope_posts.list.length);

  // $scope_posts.list = current_posts;

  //   // {link: "thiago", text: "aaaa"}
  //   // {link: "thiago", text: "bbbbbbbbbbbbb"}
  //   // {link: "dep", text: "xxxxxxxx"}
  
  // $scope_posts.$apply()

  $('.post .reply-trigger').on('focus', function() {
    $(this).fadeOut().closest('.post').find('.reply-box').fadeIn().find('textarea').focus();
  })

  $('#more').on('click', function() {
    $('#more').fadeOut('fast');
    var last_id = $('#posts .post:last p.text').data('id');
    var url = $('#posts').data('url').replace('xxx', last_id)
    $.get(url, function(data, textStatus, jqXHR) {
      appendPosts(data);
      if (data.length > 0) {
        $('#more').show();
      }
    });
    return false;
  });


  $("form#new_post").on("ajax:complete", function(e, data) {

    if (data.status == 201) {
      last =  {e: e, data: data}
      $(this).find('#post_text').val('').focus()
      prependPosts([data.responseJSON])

    } else {
      bad =  {e: e, data: data};
      alert("an error #"+data.status+" has occurred.\n\n"+data.responseText);
    }
  })

}

// comments: []
// comments_count: 0
// site: {id:3, link:thiago}
// site_id: 3
// text: "bbbbbbbbbbbbbbbbbbbb"
// verb: "posted"


// {
//   site_id: 2
//   verb: posted
//   text: aaaaaaaaa
//   comments_count: 2
//   site: {
//     id: 2
//     link: aaaa
//   }
//   comments: [
//     {
//       id: 13402
//       text: bbbbbbbbbbbb
//       site_id: 1680
//       site: {
//         id: 1680
//         link: aaaa
//       }
//     }
//     {
//       id: 13371
//       text: ccccccccccccc
//       site_id: 3909
//       site: {
//         id: 3909
//         link: aaaa
//       }
//     }
//   ]
// }

</script>

</body>
</html>
