<!DOCTYPE html>
<html>
<head>
  <title>Ex3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="<%= me ? home_path : sign_up_path %>">Executter</a>
      <%= render_top_tabs %>

      
      <% if false %>
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar">a</span>
          <span class="icon-bar">b</span>
          <span class="icon-bar">c</span>
        </button>
        <div class="nav-collapse collapse">
        </div><!--/.nav-collapse -->
      <% end %>
    </div>
  </div>
</div>


<div class="container">

  <%= render_sign_in_header %>

  <%= render_flash %>


  <%= yield %>

</div>



<footer>

  <div class="container">

    <%= form_for(Post.new) do |f| %>

      <%= f.text_field :text, autocomplete: 'off' %>
      <%= f.submit "Executter", class: 'btn btn-executter' %>

    <% end %>

  </div>

</footer>

<script type="text/javascript">


</script>

</body>
</html>
